<div class="row">
    {{#each category}}
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="{{img_category}}" class="card-img-top" alt="...">
            <div class="card-body">
                    <h4 class="card-title d-flex justify-content-center mb-3">{{categoryName}}</h4>
                    <div class="d-grid gap-2">
                        <a href="/{{category}}" class="btn btn-primary">View</a>
                    </div>
            </div>
            {{#if ../user}}
            <div class="card-footer text-muted d-flex justify-content-between align-content-center">
                <form action="/deleteCategory/{{_id}}?_method=delete" method="POST">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                </form>
                <a class="btn btn-outline-success btn-sm" href="/edit-category/{{_id}}"><i class='bx bx-edit'></i></a>
            </div>
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>